.footer{
  background: url('/src/assets/img/bg-footer.png') center no-repeat;
  background-size: cover;
  width: 100%;
  height: 240;
}
.form-footer{
  border: 5px solid #fff;
  border-radius: 1px;
  padding: 15px 10px;
  font-size: 15px;
  font-family: 'quicksandregular',sans-serif;
  font-weight: normal;
  font-style: normal;
  background: transparent;
  color: #d19d9a !important;
}
.btn-footer{
  border: 5px solid #fff;
  border-left: none;
  font-size: 24px;
  color: $rosa;
  border-radius: 1px;
  padding: 0px 20px;
  background: transparent;
  position: relative;
  right: 0px;
  height: 62px;
  cursor: pointer;
}
.link-footer{
  font-family: 'quicksandregular', sans-serif; 
  font-weight: normal; 
  font-style: normal;
  font-size: 15px;
  line-height: 1.9em;
  letter-spacing: 0.1em;
  color: #727277;
  text-transform: uppercase;
  display: block;
}
.link-footer:hover{
  color: $salmon;
}